.CartPage {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: auto;
  padding-top: 50px;
  padding-bottom: 200px;
}

.CartPage h1 {
  font-size: 48px;
  font-weight: 700;
  text-align: left;
}

.CartPage img {
  width: 240px;
  height: 240px;
}
.cartItem-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  padding-top: 20px;
}

.cartItems {
  width: 100%;
  height: 240px;
  border: 1px solid #d9d9d9;
  margin-bottom: 5px;
  display: flex;
}

.product-details {
  padding: 20px;
}
.product-details h2 {
  font-size: 40px;
  font-weight: 600;
}

.product-details .price {
  color: #002482;
  padding-left: 500px;
}

.brand-logo {
  font-family: "Federant", serif;
  font-size: 24px;
  color: #00258238;
  position: relative;
  top: 30px;
}

.cart-count-buttons {
  display: flex;
  gap: 20px;
  position: relative;
  top: -20px;
  left: 850px;
}

.product-quantity {
  font-weight: 800;
  color: #2727274b;
  font-size: 22px;
  position: relative;
  top: 8px;
}
.cartSummary {
  text-align: left;
  font-size: 40px;
  font-weight: 500;
  padding-top: 30px;
  border-bottom: 2px solid #d9d9d9;
  color: #272727;
}

.sum-total {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.sum-total .total-text {
  font-size: 32px;
  color: #272727;
}

.sum-total .total-price {
  font-size: 60px;
  font-weight: 500;
  color: #272727;
}

.checkoutButton {
  background: #0c4395;
  color: #fff;
  padding: 20px 90px;
  border-radius: 20px;
  font-weight: 500;
  position: relative;
  left: 425px;
  border: none;
  transition: 0.3s ease-in-out;
}

.checkoutButton:hover {
  background: #fff;
  color: #002482;
  border: 1px solid #0c4395;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .CartPage {
    padding-top: 50px;
    padding-bottom: 150px;
  }

  .CartPage h1 {
    font-size: 45px;
  }

  .CartPage img {
    width: 250px;
    height: 200px;
  }

  .cartItem-container {
    padding-top: 20px;
    margin: 10px;
  }

  .CartPage .cartItems {
    height: 200px;
  }

  .product-details {
    padding-left: 25px;
    padding-top: 15px;
  }

  .product-details h2 {
    font-size: 35px;
  }
  .product-details .price {
    position: relative;
    padding-left: 580px;
    top: -40px;
  }

  .product-size,
  .product-color,
  .brand-logo {
    position: relative;
    font-size: 20px;
  }

  .product-color {
    top: -34px;
  }

  .product-size {
    top: -30px;
  }

  .brand-logo {
    top: -36px;
  }

  .color-icon {
    font-size: 20px;
  }

  .cart-count-buttons {
    display: flex;
    position: relative;
    top: -80px;
    left: 630px;
    gap: 5px;
  }

  .cart-count-buttons button {
    border-radius: 4px;
    position: relative;
    top: -15px;
    padding: 4px 13px;
  }

  .product-quantity {
    font-size: 25px;
    top: -15px;
  }
  .cartSummary {
    font-size: 40px;
  }

  .sum-total .total-text {
    font-size: 32px;
  }

  .sum-total .total-price {
    font-size: 64px;
  }

  .checkoutButton {
    position: relative;
    left: 250px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .CartPage {
    width: 100%;
    height: auto;
    padding-top: 40px;
    padding-bottom: 100px;
  }

  .CartPage h1 {
    font-size: 40px;
  }

  .CartPage img {
    max-width: 160px;
    height: 160px;
  }

  .cartItem-container {
    padding: 0;
    margin: 10px;
  }

  .CartPage .cartItems {
    max-width: 768px;
    height: 160px;
  }

  .product-details {
    padding-left: 15px;
    padding-top: 10px;
  }

  .product-details h2 {
    font-size: 27px;
  }
  .product-details .price {
    position: relative;
    padding-left: 430px;
    top: -35px;
  }

  .product-size,
  .product-color,
  .brand-logo {
    position: relative;
    font-size: 15px;
  }

  .product-color {
    top: -30px;
  }

  .product-size {
    top: -25px;
  }

  .brand-logo {
    top: -38px;
  }

  .color-icon {
    font-size: 6px;
  }

  .cart-count-buttons {
    display: flex;
    position: relative;
    top: -74px;
    left: 465px;
    gap: 10px;
  }

  .cart-count-buttons button {
    border-radius: 4px;
    position: relative;
    top: -2px;
    padding: 4px 10px;
  }

  .product-quantity {
    font-size: 20px;
    top: -2px;
  }
  .cartSummary {
    font-size: 28px;
  }

  .sum-total .total-text {
    font-size: 24px;
  }

  .sum-total .total-price {
    font-size: 44px;
  }

  .checkoutButton {
    padding: 15px 60px;
    position: relative;
    left: 200px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .CartPage {
    padding: 10px;
    width: 100%;
    height: auto;
    margin-top: 30px;
  }

  .CartPage h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .CartPage img {
    max-width: 70px;
    height: 70px;
  }

  .cartItem-container {
    padding: 0;
    margin: 0;
  }

  .cartItems {
    width: 100%;
    height: 70px;
  }

  .CartPage .two {
    display: none;
  }

  .product-details {
    padding-left: 10px;
    padding-top: 10px;
  }

  .product-details h2 {
    font-size: 10px;
  }
  .product-details .price {
    position: relative;
    padding-left: 210px;
    top: -12px;
  }

  .product-size,
  .product-color,
  .brand-logo {
    position: relative;
    font-size: 7px;
  }

  .product-color {
    top: -27px;
  }

  .product-size {
    top: -15px;
  }

  .brand-logo {
    top: -38px;
  }

  .color-icon {
    font-size: 6px;
  }

  .cart-count-buttons {
    display: flex;
    position: relative;
    top: -84px;
    left: 215px;
    gap: 4px;
  }

  .cart-count-buttons button {
    border-radius: 4px;
    position: relative;
    top: 8px;
    padding: 2px 4px;
  }

  .product-quantity {
    font-size: 12px;
    top: 8px;
  }
  .cartSummary {
    font-size: 12px;
    margin-bottom: 20px;
  }

  .sum-total .total-text {
    font-size: 12px;
  }

  .sum-total .total-price {
    font-size: 16px;
    margin-right: 20px;
  }

  .checkoutButton {
    padding: 15px 25px;
    border-radius: 5px;
    position: relative;
    left: 80px;
    margin-bottom: 100px;
    margin-top: 50px;
  }
}
