.CheckoutPage {
  padding: 50px 280px;
  font-family: "Montserrat", sans-serif;
}

.CheckoutPage h2 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: left;
  position: relative;
  left: -100px;
}

.CheckoutPage .label {
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  color: #5f6980;
}

.email-input,
.firstname,
.lastname {
  padding: 14px;
  border-radius: 30px;
  margin-bottom: 10px;
}

.phonenumber {
  padding: 14px;
  border-radius: 30px;
  max-width: 500px;
  margin-bottom: 10px;
}

.address {
  padding: 14px;
  border-radius: 15px;
}

.location {
  max-width: 500px;
  padding: 14px;
  border-radius: 15px;
  margin-bottom: 40px;
}

.paymentButton {
  width: 595px;
  height: 90px;
  background: #0c4395;
  color: #fff;
  padding: 10px 16px;
  border-radius: 20px;
  font-weight: 600;
  font-size: 24px;
  border: none;
  position: relative;
  left: 130px;
  transition: 0.3s ease-in-out;
}

.paymentButton:hover {
  background: #fff;
  color: #002482;
  border: 1px solid #0c4395;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .CheckoutPage {
    padding: 40px 120px;
  }

  .CheckoutPage h2 {
    font-size: 48px;
    position: relative;
    left: 110px;
  }

  .CheckoutPage .label {
    font-size: 20px;
    text-align: left;
  }

  .email-input,
  .firstname,
  .lastname,
  .phonenumber,
  .address {
    padding: 14px;
    border-radius: 20px;
    margin-bottom: 10px;
    color: #d9d9d9;
  }

  .location {
    padding: 14px;
    border-radius: 20px;
  }

  .paymentButton {
    height: 80px;
    padding: 10px 16px;
    left: 80px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .CheckoutPage {
    padding: 30px 20px;
  }

  .CheckoutPage h2 {
    font-size: 46px;
    position: relative;
    left: -0px;
  }

  .CheckoutPage .label {
    font-size: 18px;
    text-align: left;
  }

  .email-input,
  .firstname,
  .lastname,
  .phonenumber,
  .address {
    padding: 14px;
    border-radius: 20px;
    margin-bottom: 10px;
  }

  .location {
    padding: 14px;
    border-radius: 20px;
  }

  .paymentButton {
    height: 80px;
    position: relative;
    left: 45px;
  }
}

@media (max-width: 480px) {
  .CheckoutPage {
    padding: 30px 50px;
  }

  .CheckoutPage h2 {
    font-size: 24px;
    text-align: center;
    position: relative;
    left: -95px;
  }

  .CheckoutPage .label {
    font-size: 18px;
    text-align: left;
  }

  .paymentButton {
    width: 175px;
    height: 48px;
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 4px;
    position: relative;
    left: 80px;
  }
}
