.PaymentPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 280px;
  font-family: "Montserrat", sans-serif;
}

.PaymentPage h2 {
  color: #272727;
  position: relative;
  left: -550px;
  font-size: 48px;
  font-weight: 700;
  text-align: left;
}
.PaymentPage h3 {
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  color: #5f6980;
}

.PaymentPage p {
  font-size: 16px;
  font-weight: 400;
  color: #5f6980;
}

.card-payment-form {
  display: flex;
  flex-direction: column;
  width: 353px;
}

.card-payment-form label {
  margin-bottom: 15px;
}

.card-payment-form input {
  padding: 14px;
  font-size: 16px;
  width: 100%;
  border: 1px solid #d6bbfb;
  border-radius: 20px;
}

.details {
  display: flex;
  justify-content: space-between;
  gap: 6px;
}

.card-payment-form .checkbox {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.card-payment-form #checkbox {
  height: 24px;
  width: 24px;
  border: 1px solid #897fe1;
  position: relative;
  left: 10px;
  top: 5px;
}

.card-payment-form button {
  padding: 10px 16px 10px 16px;
  font-weight: 600;
  font-size: 24px;
  background: #0c4395;
  color: white;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.card-payment-form button:hover {
  background: #fff;
  color: #0c4395;
  border: 1px solid #0c4395;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .PaymentPage {
    padding: 60px 80px;
  }

  .PaymentPage h2 {
    position: relative;
    left: 110px;
    font-size: 48px;
  }
  .card-payment-form {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .PaymentPage {
    padding: 30px 100px;
  }

  .PaymentPage h2 {
    position: relative;
    left: -200px;
    text-align: center;
    font-size: 40px;
  }

  .PaymentPage h3 {
    font-size: 17px;
  }

  .PaymentPage p {
    font-size: 14px;
  }

  .card-payment-form label {
    margin-bottom: 15px;
  }
}

@media (max-width: 480px) {
  .PaymentPage {
    padding: 30px 100px;
  }

  .PaymentPage h2 {
    position: relative;
    left: -80px;
    text-align: center;
    font-size: 48px;
  }

  .PaymentPage h3 {
    font-size: 20px;
  }

  .PaymentPage p {
    font-size: 16px;
  }

  .card-payment-form {
    display: flex;
    flex-direction: column;
    width: 300px;
  }

  .card-payment-form label {
    margin-bottom: 15px;
  }

  .card-payment-form input {
    padding: 15px;
    font-size: 16px;
    width: 100%;
    border: 1px solid #8f8f8f;
    border-radius: 20px;
  }

  .details {
    display: flex;
    justify-content: space-between;
    gap: 5px;
  }

  .card-payment-form .checkbox {
    display: flex;
    justify-content: space-between;
    position: relative;
    left: 5px;
    top: 2px;
  }

  .card-payment-form #checkbox {
    height: 17px;
    width: 17px;
    position: relative;
    left: 2px;
    top: 2px;
  }
}
