.products {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

.product {
  width: 100%;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

.product:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product img {
  height: 350px;
  width: 350px;
}

.productTitle {
  margin: 15px 15px 0 15px;
  color: #4c8ef0;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-align: left;
}

.dot-icon {
  display: none;
}

.productPrice {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 25px;
  color: #272727;
  text-align: left;
  margin-left: 15px;
}

.cartButtons {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
  font-weight: 600;
}

.cartButtons span {
  font-size: 20px;
  margin-left: 5px;
}

.minus {
  font-size: 18px;
  background: #d9d9d9;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  margin-left: 15px;
}

.plus {
  font-size: 17px;
  background: #d9d9d9;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  margin-left: 5px;
}

.addToCartButton {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  background: #0c4395;
  color: #fff;
  padding: 10px 60px;
  border: none;
  border-radius: 10px;
  margin-left: 20px;
  transition: 0.3s ease-in-out;
}

.addToCartButton:hover {
  color: #0c4395;
  border: 1px solid #4c8ef0;
  background: #fff;
}

.minus:disabled {
  cursor: not-allowed;
  background: #f0f0f0;
}

@media (min-width: 1025px) and (max-width: 1280px) {
}

@media (min-width: 767px) and (max-width: 1024px) {
  .products {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .product {
    max-width: 512px;
    position: relative;
    left: -10px;
  }

  .product img {
    height: 190px;
    width: 210px;
    margin-left: -10px;
  }
  .productTitle {
    font-size: 23px;
    padding-bottom: 5px;
    margin-left: -5px;
  }

  .dot-icon {
    display: none;
  }

  .productPrice {
    font-size: 23px;
    margin-left: -5px;
  }

  .cartButtons {
    gap: 5px;
    margin-left: -5px;
  }

  .cartButtons span {
    font-size: 18px;
    margin-left: 1px;
  }

  .minus {
    font-size: 14px;
    background: #9a9a9a;
    padding: 3px 7px;
    margin-left: -1px;
  }

  .plus {
    font-size: 13px;
    background: #d9d9d9;
    padding: 3px 7px;
    margin-left: 1px;
  }

  .addToCartButton {
    font-size: 12px;
    border-radius: 2px;
    background: #0c4395;
    color: #fff;
    padding: 5px 25px;
    margin-left: 10px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .products {
    grid-template-columns: 1fr 1fr;
  }

  .product {
    max-width: 383px;
    position: relative;
    left: 10px;
  }

  .product img {
    height: 150px;
    width: 200px;
    margin-left: -15px;
  }

  .productTitle {
    font-size: 16px;
    padding-bottom: 0;
    margin-left: -5px;
  }

  .dot-icon {
    display: none;
  }

  .productPrice {
    font-size: 16px;
    margin-left: -5px;
  }

  .cartButtons {
    gap: 4px;
    margin-left: -5px;
  }

  .cartButtons span {
    font-size: 14px;
    margin-left: 1px;
  }

  .minus {
    font-size: 10px;
    background: #9a9a9a;
    padding: 3px 7px;
    margin-left: -1px;
  }

  .plus {
    font-size: 9px;
    background: #d9d9d9;
    padding: 3px 7px;
    margin-left: 1px;
  }

  .addToCartButton {
    font-size: 9px;
    border-radius: 2px;
    background: #0c4395;
    color: #fff;
    padding: 5px 30px;
    margin-left: 10px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .products {
    grid-template-columns: 1fr 1fr;
  }

  .product {
    max-width: 155px;
    position: relative;
    left: -20px;
  }

  .product img {
    height: 140px;
    width: 150px;
    margin-left: -25px;
  }

  .productTitle {
    font-size: 12px;
    padding-bottom: 0;
    margin-left: -20px;
  }

  .dot-icon {
    display: none;
  }

  .productPrice {
    font-size: 12px;
    margin-left: -20px;
  }

  .cartButtons {
    gap: 2px;
    margin-left: -18px;
  }

  .cartButtons span {
    font-size: 10px;
    margin-left: 1px;
  }

  .minus {
    font-size: 8px;
    background: #9a9a9a;
    padding: 3px 7px;
    margin-left: -1px;
  }

  .plus {
    font-size: 7px;
    background: #d9d9d9;
    padding: 3px 7px;
    margin-left: 1px;
  }

  .addToCartButton {
    font-size: 7px;
    border-radius: 2px;
    background: #0c4395;
    color: #fff;
    padding: 5px 9px;
    margin-left: 3px;
  }
}
