.Shop {
  max-width: 100%;
  box-sizing: border-box;
}

.products {
  width: 1248px;
  height: 2480px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  top: 789px;
  left: 96px;
  gap: 36px;
}

.product {
  width: 400px;
  height: 593px;
  padding: 30px;
  border-radius: 10px;
  text-align: left;
}

.product img {
  height: 356px;
  width: 400px;
  object-fit: cover;
}

.productTitle {
  padding: 10px;
  color: #4c8ef0;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 36px;
  text-align: left;
}

.productPrice {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 32px;
  color: #272727;
  text-align: left;
  margin-left: 15px;
}

.cartButtons {
  padding: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
  font-weight: 600;
}

.cartButtons span {
  font-size: 20px;
  margin-left: 5px;
}

.minus {
  font-size: 18px;
  background: #d9d9d9;
  height: 28px;
  width: 36px;
  padding: 14px 11px 14px 11px;
  border: 2px;
  cursor: pointer;
}

.plus {
  font-size: 17px;
  background: #d9d9d9;
  padding: 10px;
  height: 31px;
  width: 31px;
  border: 2px;
  cursor: pointer;
  gap: 10px;
}

.addToCartButton {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  width: 226px;
  height: 49px;
  background: #0c4395;
  color: #fff;
  padding: 10px 16px 10px 16px;
  border: none;
  border-radius: 10px;
  left: 147px;
  top: 5px;
  transition: 0.3s ease-in-out;
}

.addToCartButton:hover {
  color: #0c4395;
  border: 1px solid #4c8ef0;
  background: #fff;
}

.minus:disabled {
  cursor: not-allowed;
  background: #f0f0f0;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .products {
    grid-template-columns: 1fr 1fr;
    height: 100%;
    position: relative;
    top: -10px;
    left: -50px;
    gap: 5px;
    padding: 100px;
  }

  .product {
    max-width: 100%;
    padding: 0;
    margin: 0;
  }

  .product img {
    height: 350px;
    width: 398px;
  }
  .productTitle {
    font-size: 36px;
  }

  .productPrice {
    font-size: 32px;
  }

  .cartButtons {
    gap: 10px;
  }

  .cartButtons span {
    font-size: 32px;
  }

  .minus {
    font-size: 14px;
    background: #9a9a9a;
    padding: 3px 7px;
    margin-left: -1px;
  }

  .plus {
    font-size: 13px;
    background: #d9d9d9;
    padding: 3px 7px;
    margin-left: 1px;
  }

  .addToCartButton {
    font-size: 12px;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
    left: 146px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .products {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    top: -180px;
    left: -250px;
    gap: 0;
    padding: 30px;
  }

  .product {
    max-width: 100%;
  }

  .product img {
    height: 250px;
    width: 280px;
  }
  .productTitle {
    font-size: 24px;
  }

  .productPrice {
    font-size: 24px;
  }

  .cartButtons {
    gap: 5px;
  }

  .cartButtons span {
    font-size: 20px;
  }

  .minus {
    font-size: 14px;
    background: #9a9a9a;
    padding: 3px 7px;
    margin-left: 0;
  }

  .plus {
    font-size: 13px;
    background: #d9d9d9;
    padding: 3px 7px;
    margin-left: 0;
  }

  .addToCartButton {
    font-size: 8px;
    border-radius: 10px;
    padding: 4px 0;
    left: 10px;
  }
}

@media (max-width: 480px) {
  .products {
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    padding-left: 90px;
    padding-top: 30px;
  }
  .product {
    width: 164px;
    padding: 0;
    position: relative;
    left: -60px;
  }

  .product img {
    height: 125px;
    width: 164px;
  }
  .productTitle {
    font-size: 12px;
  }

  .productPrice {
    font-size: 12px;
  }

  .cartButtons {
    gap: 5px;
  }

  .cartButtons span {
    font-size: 10px;
  }

  .minus {
    background: #9a9a9a;
    padding: 3px 7px;
    margin-left: 0;
  }

  .plus {
    background: #d9d9d9;
    padding: 3px 7px;
    margin-left: 0;
  }

  .addToCartButton {
    font-size: 8px;
    border-radius: 10px;
    padding: 4px;
    left: 53px;
  }
}
