.Navbar {
  height: 70px;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 3px solid #8f8f8f;
  padding: 10px 0;
  margin: 10px;
}

.logo {
  font-family: "Federant", serif;
  font-size: 25px;
  color: #002482;
}

.Navbar input {
  padding: 10px 85px;
  border-radius: 25px;
  background: #d9d9d9;
  border: #8f8f8f;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 300;
}

.search-icon {
  width: 30px;
  height: 30px;
  position: relative;
  top: -2px;
  left: 55px;
}

.cartIcons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.cart {
  width: 30px;
  height: 30px;
}

.cartCount {
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  position: relative;
  left: -33px;
  top: -15px;
  border-radius: 15px;
  font-size: 11px;
  background: #f06200;
  color: #fff;
}

.cart-text {
  position: relative;
  left: -42px;
  top: 5px;
  color: #272727;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 1024px) {
  .Navbar {
    padding: 10px 10px;
  }
  .searchBar Input {
    width: 150px;
  }
  .search-icon {
    position: relative;
    top: -2px;
    left: 45px;
  }
  .Navbar input {
    padding: 10px 85px;
  }
}

@media (max-width: 768px) {
  .Navbar {
    padding: 10px 10px;
  }
  .searchBar Input {
    width: 150px;
  }
  .search-icon {
    position: relative;
    top: -2px;
    left: 45px;
  }
  .Navbar input {
    padding: 10px 85px;
  }
}

@media (max-width: 480px) {
  .Navbar {
    padding: 10px 10px;
  }
  .searchBar Input {
    width: 150px;
  }
  .search-icon {
    position: relative;
    top: 20px;
    left: 100px;
  }
  .Navbar input {
    display: none;
  }

  .logo {
    position: relative;
    left: -40px;
    top: 20px;
  }

  .cart-text {
    display: none;
  }

  .cartIcons {
    position: relative;
    left: 70px;
    top: 10px;
  }
}
