.Navbar {
  width: 100%;
  height: 132px;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 3px solid #8f8f8f;
  box-sizing: border-box;
  top: 46px;
  padding: 24px;
  gap: 134px;
  overflow: hidden;
}

.logo {
  font-family: "Federant", serif;
  font-size: 64px;
  font-weight: 400;
  color: #002482;
}

.SearchBar input {
  width: 552px;
  height: 84px;
  gap: 10px;
  padding: 10px 8%;
  border-radius: 30px;
  background: #d9d9d9;
  border: #8f8f8f;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 200;
}

.search-icon {
  width: 32px;
  height: 32px;
  position: relative;
  left: 41px;
}

.cartIcons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.cart {
  width: 32px;
  height: 32px;
}

.cart-text {
  position: relative;
  color: #272727;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .Navbar {
    height: 101px;
    top: 10px;
    left: 67px;
    padding: 18px;
    gap: 102px;
  }

  .logo {
    font-size: 48px;
  }

  .SearchBar Input {
    width: 423px;
    height: 49px;
    border-radius: 23px;
    font-size: 18px;
  }
  .search-icon {
    position: relative;
    width: 24px;
    height: 24px;
    left: 31px;
  }

  .cart {
    width: 24px;
    height: 19px;
  }

  .cart-text {
    font-size: 12px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .Navbar {
    height: 70px;
    top: 40px;
    left: 67px;
    padding: 12px;
    gap: 102px;
  }

  .logo {
    font-size: 28px;
  }

  .SearchBar Input {
    width: 290px;
    height: 30px;
    border-radius: 18px;
    font-size: 16px;
  }
  .search-icon {
    position: relative;
    width: 20px;
    height: 20px;
    left: 21px;
  }

  .cart {
    width: 20px;
    height: 16px;
  }

  .cart-text {
    display: none;
  }
}

@media (max-width: 480px) {
  .Navbar {
    height: 38px;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 35px;
  }

  .logo {
    font-size: 36px;
  }

  .SearchBar Input {
    display: none;
  }
  .search-icon {
    display: none;
  }

  .cart {
    width: 24px;
    height: 24px;
  }
  .cart-text {
    display: none;
  }
}
